In [2]:
file=open('US_births_1994-2003_CDC_NCHS.csv','r').read()
clear_file=file.split("\n")
clear_file[0:100]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910',
 '1994,1,10,1,10498',
 '1994,1,11,2,11706',
 '1994,1,12,3,11567',
 '1994,1,13,4,11212',
 '1994,1,14,5,11570',
 '1994,1,15,6,8660',
 '1994,1,16,7,8123',
 '1994,1,17,1,10567',
 '1994,1,18,2,11541',
 '1994,1,19,3,11257',
 '1994,1,20,4,11682',
 '1994,1,21,5,11811',
 '1994,1,22,6,8833',
 '1994,1,23,7,8310',
 '1994,1,24,1,11125',
 '1994,1,25,2,11981',
 '1994,1,26,3,11514',
 '1994,1,27,4,11702',
 '1994,1,28,5,11666',
 '1994,1,29,6,8988',
 '1994,1,30,7,8096',
 '1994,1,31,1,10765',
 '1994,2,1,2,11755',
 '1994,2,2,3,11483',
 '1994,2,3,4,11523',
 '1994,2,4,5,11677',
 '1994,2,5,6,8991',
 '1994,2,6,7,8309',
 '1994,2,7,1,10984',
 '1994,2,8,2,12152',
 '1994,2,9,3,11515',
 '1994,2,10,4,11623',
 '1994,2,11,5,11517',
 '1994,2,12,6,8945',
 '1994,2,13,7,8171',
 '1994,2,14,1,11551',
 '1994,2,15,2,12164',
 '1994,2,16,3,12009',
 '1994,2,17,4,11674',
 '1994,2,18,5,11887',
 '1994,2,19,6,8946',
 '1994,2,20,7,8402',
 '1994,2,21,1,10617',
 '1994,2,22,2,11810',
 '1994,2,23,3,11776',
 '1994,2,24,4,11667',
 '1994,2,25,5,11905',
 '1994,2,26,6,8988',
 '1994,2,27,7,8195',
 '1994,2,28,1,11091',
 '1994,3,1,2,12127',
 '1994,3,2,3,11735',
 '1994,3,3,4,11984',
 '1994,3,4,5,12066',
 '1994,3,5,6,9215',
 '1994,3,6,7,8389',
 '1994,3,7,1,10996',
 '1994,3,8,2,12275',
 '1994,3,9,3,11780',
 '1994,3,10,4,11792',
 '1994,3,11,5,11939',
 '1994,3,12,6,9087',
 '1994,3,13,7,8248',
 '1994,3,14,1,11092',
 '1994,3,15,2,12298',
 '1994,3,16,3,11865',
 '1994,3,17,4,11976',
 '1994,3,18,5,11799',
 '1994,3,19,6,8944',
 '1994,3,20,7,8243',
 '1994,3,21,1,11140',
 '1994,3,22,2,11964',
 '1994,3,23,3,11637',
 '1994,3,24,4,11904',
 '1994,3,25,5,11568',
 '1994,3,26,6,8957',
 '1994,3,27,7,8189',
 '1994,3,28,1,11051',
 '1994,3,29,2,12154',
 '1994,3,30,3,11540',
 '1994,3,31,4,11782',
 '1994,4,1,5,10630',
 '1994,4,2,6,8782',
 '1994,4,3,7,7530',
 '1994,4,4,1,10909',
 '1994,4,5,2,11876',
 '1994,4,6,3,11811',
 '1994,4,7,4,11718',
 '1994,4,8,5,11532',
 '1994,4,9,6,8791']

In [4]:
def read_csv(filename):
    f=open(filename,'r').read()
    string_list=f.split("\n")[1:]
    final_list=[]
    
    for i in string_list:
        int_fields=[]
        string_fields=i.split(",")
        for element in string_fields:
            int_fields.append(int(element))
        final_list.append(int_fields)
    return(final_list)

cdc_list=read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [5]:
def month_births(lists):
    births_per_month={1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0,10:0,11:0,12:0}
    for month in lists:
        if(int(month[1]) in list(births_per_month.keys())):
            births_per_month[int(month[1])]=births_per_month[int(month[1])]+int(month[4])
    return births_per_month
    
cdc_month_births=month_births(cdc_list)    
print(cdc_month_births)

{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}

In [6]:
def dow_births(lists):
    births_per_week={1:0,2:0,3:0,4:0,5:0,6:0,7:0}
    for day_of_week in lists:
        if(int(day_of_week[3]) in list(births_per_week.keys())):
            births_per_week[int(day_of_week[3])]=births_per_week[int(day_of_week[3])]+int(day_of_week[4])
    return births_per_week
    
cdc_day_births=dow_births(cdc_list)    
print(cdc_day_births)

{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

In [12]:
def calc_counts(data,column):
    births_count={}
    for i in data:
        field = i[column]
        births = i[4]
        if(field in births_count):
            births_count[field]=births_count[field]+births
        else:
            births_count[field]= births
    return births_count
        
cdc_year_births=calc_counts(cdc_list,0)
print(cdc_year_births)
cdc_month_births=calc_counts(cdc_list,1)
print(cdc_month_births)
cdc_dom_births=calc_counts(cdc_list,2)
print(cdc_dom_births)
cdc_dow_births=calc_counts(cdc_list,3)
print(cdc_dow_births)

{2000: 4058814, 2001: 4025933, 2002: 4021726, 2003: 4089950, 1994: 3952767, 1995: 3899589, 1996: 3891494, 1997: 3880894, 1998: 3941553, 1999: 3959417}
{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}
{1: 1276557, 2: 1288739, 3: 1304499, 4: 1288154, 5: 1299953, 6: 1304474, 7: 1310459, 8: 1312297, 9: 1303292, 10: 1320764, 11: 1314361, 12: 1318437, 13: 1277684, 14: 1320153, 15: 1319171, 16: 1315192, 17: 1324953, 18: 1326855, 19: 1318727, 20: 1324821, 21: 1322897, 22: 1317381, 23: 1293290, 24: 1288083, 25: 1272116, 26: 1284796, 27: 1294395, 28: 1307685, 29: 1223161, 30: 1202095, 31: 746696}
{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

# Calculate Min & Max Values for any Dictionary

In [ ]:
def minMax(data):
    maxValue=[]
    minValue=[]
    for row in data:
        if row>maxValue:
            maxValue=row
        else: